body {
  background-image: url("../images/mainbg.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  max-width: 1250px;
  max-height: 900px;
  margin: auto;
}

.mainBody {
  margin: auto;
}

.mainContainer {
  margin: 3% 10%;
  padding: 55px;
  border: 2px solid antiquewhite;
  border-radius: 30px;
  background-image: url("../images/containerbg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.searchBar,
.currentWeatherReport,
.additionalTabs,
.fullWeatherReport {
  font-family: "Noto Serif", serif;
  padding: 15px;
  color: #222324;
}

.fullWeatherReport {
  margin: auto;
}

.submitIcon {
  width: 25px;
}

.currentTemp {
  font-size: 65px;
}

.misc {
  text-align: center;
}

.weather-forecast-temp-max {
  font-size: 18px;
  font-weight: bold;
}

.weather-forecast-temp-min {
  font-size: 18px;
}

.curveText {
  font-size: 45px;
  color: white;
  font-family: "Dancing Script", cursive;
}

.currentLoc {
  text-align: right;
  font-size: 18px;
  line-height: 10px;
}

.card {
  max-width: 125px;
  min-width: 125px;
  color: black;
  opacity: 0.9;
  padding-left: 2px;
  padding-right: 2px;
  margin: 10px;
}

.card-title {
  font-size: 14px;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 11px;
  font-weight: bolder;
}

.card:hover {
  background-color: #ffeaea;
}

.additionalInfo {
  font-size: 15px;
  line-height: 10px;
  text-align: left;
}

.cityName {
  font-size: 40px;
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 20px;
}

.searchIcon {
  font-size: 20px;
  color: #272727;
}

.searchIcon:hover {
  color: white;
}

.changeFont {
  font-size: 18px;
}

.timeNow {
  font-size: 17px;
}

.conditiontext {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}

.partlycloudy {
  font-size: 30px;
  margin: 10px auto;
  color: #8d8a8a;
}

.partlycloudyxl {
  font-size: 30px;
  margin: 10px auto;
  color: #8d8a8a;
}

.sunny {
  font-size: 30px;
  margin: 10px auto;
  color: #eecf68;
}

.raining {
  font-size: 30px;
  margin: 10px auto;
  color: #479adf;
}

.storm {
  font-size: 30px;
  margin: 10px auto;
  color: #5147df;
}

.thermometer {
  font-size: 20px;
}

.active {
  color: #272727;
  font-weight: bolder;
  cursor: default;
}
